@media (max-width: 991.98px) {
    .navbar-collapse {
        flex-basis: auto;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 65px;
        right: 5%;
        background:#f9f9f9;
        padding: 20px;
    }
    .btn_custom{
        padding: 5px 15px;
        border-radius: 15px;
    }
    .hiro_content h1 {
        font-size: 54px;
    }
    .hiro_content h1::before {
        left: -3%;
    }
    .about_content h2 {
        font-size: 40px;
        margin-top: 26px;
    }
    #about_us {
        margin-top: 40px;
        padding: 50px 0;
    }
    .accordion-button {
        font-size: 42px;
    }
    .accordion-button::after {
        flex-shrink: 0;
        width: 64px;
        height: 64px;
    }
    .accordion-button:not(.collapsed)::after {
        font-size: 18px;
        padding-top: 12px;
        padding-left: 10px;
        width: 190px;
        height: 56px;
        border: 8px solid #000;
        border-radius: 60px;
        background-size: 40px;
    }
    .featured_head span {
        font-size: 16px;  
    }
    .featured_head a {
        width: 240px;
        border-radius: 40px;
    }
    .row ul li a {
        font-size: 40px;
    }
    #client_review {
        padding: 20px 0;
    }
    #client_review .nav-link {
        font-size: 36px;
        margin-top: 40px;
    }
    .client_image {
        width: 100px;
        height: 100px;
    }
    #project {
        padding: 100px;
    }
    .project_content {
        margin-left: 0px;
    }
    .project_content a {
        font-size: 55px;
    }
    .footer_content {
        padding-top: 24px;
    }
    .footer_content h5 {
        margin-bottom: 20px;
    }
    .footer_content ul li a{
        font-size: 16px !important;
        padding: 8px 26px;
    }
    .footer_content h4 {
        margin-top: 20px;
        font-size: 20px;
    }
    .footer_content h1 {
        font-size: 30px;
        margin-bottom: 26px;
    }
    .footer_content p {
        margin-top: 40px;
    }
    .footer_logo {
        width: 80px;
    }
    .btn_arrow {
        bottom: 10%;
    }
}

@media (max-width: 768.98px) {
    .hiro_content {
        padding: 0px 20px;
    }
    .hiro_content h1 {
        margin-top: 48px;
    }
    .hiro_image span {
        width: 80px;
    }
    .accordion-button {
        font-size: 28px !important;
    }
    #accordions h3 {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .accordion-item:hover .accordion-button:after {
        font-size: 18px;
        padding-top: 12px;
        padding-left: 20px;
        width: 201px;
        height: 58px;
        border: 8px solid #000;
        border-radius: 64px;
        background-size: 40px;
        position: absolute;
        top: 10%;
        right: 0;
    }
    .featured_head h4 {
        font-size: 32px;
        margin-top: 10px;
    }
    .featured_head a {
        width: 220px;
        border-radius: 30px;
    }
    .client_image {
        margin-top: 30px;
    }
    #project{
        padding: 100px 10px !important;
    }
    .flex_reverse{
        flex-direction: column-reverse;
    }
    #footer{
        background: none;
    }
    .footer_img{
        opacity: 1;
    }
    .footer_img img{
        width: 100%;
    }
    .footer_logo {
        display: none;
    }
}
@media (max-width: 575.98px) {
    .hiro_content h1 {
        font-size: 20px;
        margin-top: 24px;
    }
    .hiro_content p {
        font-size: 16px;
    }
    .hiro_image {
        margin-top: 30px;
    }
    .parent{
        display: none;
    }
    .hiro_content h1::before {
        background-size: 24px;
    }
    .about_content h3 {
        font-size: 16px;
    }
    .about_content h2 {
        font-size: 18px;
        margin-top: 20px;
    }
    #accordions{
        padding: 40px 0;
    }
    #accordions h3 {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .accordion-button {
        font-size: 18px !important;
    }
    .accordion-body {
        font-size: 16px;
    }
    .accordion-button::after {
        width: 48px;
        height: 48px;
    }
    .accordion-item:hover .accordion-button:after {
        font-size: 12px;
        padding-top: 8px;
        padding-left: 8px;
        width: 120px;
        height: 40px;
        border: 5px solid #000;
        border-radius: 26px;
        background-size: 27px;
    }
    .accordion-button:not(.collapsed)::after {
        font-size: 12px;
        padding-top: 8px;
        padding-left: 8px;
        width: 124px;
        height: 40px;
        border: 5px solid #000;
        border-radius: 26px;
        background-size: 27px;
    }
    #featured {
        padding: 20px 0;
    }
    .featured_head {
        display: block;
    }
    .featured_head h4 {
        font-size: 20px;
        margin-top: 10px;
    }
    .featured_head a {
        width: 140px;
        border-radius: 25px;
    }
    .featured_head span {
        font-size: 10px;
    }
    .featured_head img{
        width: 20px;
    }
    .client_head {
        margin-bottom: 20px;
    }
    #client_review .nav-link {
        font-size: 30px;
        margin-top: 40px;
    }
    .client_image {
        margin: 0 auto;
        margin-top: 20px;
    }
    .client_content {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }
    .row ul li a img {
        display: inline;
        width: 32px;
        height: 32px;
        margin-left: 25px;
    }
    #project {
        padding: 50px 0px !important;
    }
    .project_content h5 {
        font-size: 24px;
    }
    .project_content a {
        font-size: 36px;
    }
    .footer_content h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .footer_content img {
        top: 4%;
        left: 0%;
        z-index: -1;
        width: 40px;
    }
    .footer_btn {
        margin: 0 auto;
        text-align: center;
        display: block;
        width: 220px;
    }
    #footer .row>* {
        padding-right: 0;
        padding-left:0 ;
    }
    .footer_content{
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .btn_arrow{
        position: absolute;
        bottom: 10%;
        cursor: pointer;
    }
}

@media (max-width: 340.98px){
    .accordion-button {
        font-size: 16px !important;
    }
    .accordion-body {
        font-size: 14px;
    }
    .accordion-item:hover .accordion-button:after {
        font-size: 10px;
        padding-top: 6px;
        padding-left: 4px;
        width: 102px;
        height: 33px;
        border: 5px solid #000;
        border-radius: 20px;
        background-size: 21px;
        top: 20%;
    }
    .accordion-button:not(.collapsed)::after {
        font-size: 10px;
        padding-top: 6px;
        padding-left: 4px;
        width: 102px;
        height: 33px;
        border: 5px solid #000;
        border-radius: 20px;
        background-size: 21px;
    }
}